* {
	margin: 0;
	padding: 0;
}

body {
	font-family: monospace;
	font-size: 20px;
	font-weight: bold;
	background-color: #000;
	color: limegreen;
}

#console-wrapper {
	position: relative;
}
.fullscreen-console #console-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 23px;
}
#console {
	position: absolute;
	left: 24px;
	right: 0;
	height: 23px;

	font-family: monospace;
	font-weight: bold;
	font-size: 100%;
	background-color: black;
	color: limegreen;
	border:0;
}
#console:focus {
	outline: none;
	border:0;
}
#output {
	max-height: 90%;
	overflow: auto;
	overflow-x: hidden;
}

.fullscreen-console #output {
	position: absolute;
	bottom: 23px;
	top: 0;
	left: 0;
	right: 0;
	max-height: 1000%;
}
#background,
#main,
#foreground {
	position: absolute;
	width: 100%;
	height: 0;
}
#main {
	height: 100%;
	overflow: hidden;
}
.fullscreen-console #main {
	position: relative;
}
.fullscreen-foreground,
.fullscreen-background {
	position: absolute;
	width: 100%;
	height: 100%;
}

#output {
}

.edge-close-btn {
	position: absolute;
	top: 0;
	right: 0;
	height: 40px;
	width: 100px;
	background-color: #666;
}
.edge-log {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: auto;
}
.edge-ball {
	position: absolute;
	background-color: red;
	width: 10px;
	height: 10px;
	top: 0px;
	left: 0px;
	border-radius: 5px;
	
}
pre {
	white-space: pre-wrap;
}